server:
  port: 8083

spring:
  application:
    name: authentication-service

  datasource:
    url: jdbc:postgresql://localhost:5432/distributed_commerce_platform?currentSchema=auth_schema
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: auth_schema

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

jwt:
  secret: MyVeryStrongAndSuperLongSecretKeyForJWTGeneration2026!
  expiration: ${JWT_EXPIRATION:36000000}

